/* main elements */

body,div,td {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #666;
}

body {
	background-color: #fff;
	background-image: url(/static/images/banner-graphic.png);
	background-position: top center;
	background-repeat: no-repeat;
	text-align: center;
	min-width: 600px;
	margin-top: 60px;
	margin-left: auto;
	margin-right: auto;
}

div {
	margin: 5px 25px 5px 25px;
	text-align: left;
}

/* header and footer elements */

#main {
  	margin:0 auto;
  	position:relative;
  	top: 35px;
  	left:-200px;
  	width:560px;
  	text-align:left;	
}



/* .container { */
/*   	margin:0 auto; */
/*   	position-left: -30; */
/*   	top: 0px; */
/*   	left:-30px; */
/*   	width:600px; */
/*   	text-align:left; */
/* } */

.footer {
	background:#fff;
	border:none;
	margin-top:20px;
	border-top:1px solid #999999;
	width:100%;
}

.footer td {color:#999999;}

.footer a:link {color: #7db223;}

	
/* text styles */

h1,h2,h3 {
	font-family: Helvetica, sans-serif;
	color: #7db223;
}

h1 {
	font-size: 20px;
	line-height: 26px;
}

h2 {
	font-size: 18px;
	line-height: 24px;
}

h3 {
	font-size: 15px;
	line-height: 21px;
	color:#555;
}

h4 {
	font-size: 14px;
	line-height: 20px;
}


a {
	text-decoration: underline;
	font-size: 13px;
}

a:link {
	color: #7db223;
}

a:hover {
	color: #456314;
}

a:active {
	color: #7db223;
}

a:visited {
	color: #7db223;
}


/* table elements */

