
# ignore maven build stuff
target/

# ignore Eclipse metadata
.settings/
.project
.classpath

# ignore Eclipse Spring beans file. This is automatically made by Spring nature
.springBeans

# ignore IDEA metadata
*.iml

