/*

Screen Stylesheet for jQuery Realistic Hover Effect
Created by Adrian Pelletier
http://www.adrianpelletier.com

*/


/* =Imports
============================================================================== */






			
			
	/* =Shadow Nav
	-------------------------------------------------------------------------- */
		
		#nav-shadow {
			margin: 0 auto 50px auto;
			padding: 50px 0 0 127px;
			width: 497px;
			min-height: 130px;
			text-align: center;
			
			list-style: none;
			}
			
		#nav-shadow li {
			margin-right: 15px;
			width: 81px;
			height: 72px;
			position: relative;
			float: left;
			}
			
		#nav-shadow a, #nav-shadow a:visited, #nav-shadow a, #nav-shadow a:hover {
			margin: 0 auto;
			width: 59px;
			height: 59px;
			text-indent: -9999px;
			overflow: hidden;
			#background: url(../images/icons.png) no-repeat;
			display: block;
			position: relative;
			z-index: 2;
			}
		

			
		/* Button Shadow */
		
		#nav-shadow li img.shadow {
			margin: 0 auto;
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 1;
			}