<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">
<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/"
	debug="true">
	<!-- Appenders -->
	<appender name="log" class="org.apache.log4j.FileAppender">
		<param name="File" value="logging.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c - %m%n" />
		</layout>
	</appender>
	<appender name="audittrail" class="org.apache.log4j.FileAppender">
		<param name="File" value="audittrail.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c - %m%n" />
		</layout>
	</appender>
	<appender name="exception" class="org.apache.log4j.FileAppender">
		<param name="File" value="exception.log" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c - %m%n" />
		</layout>
	</appender>
	<appender name="console" class="org.apache.log4j.ConsoleAppender">
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern" value="%-5p: %c - %m%n" />
		</layout>
	</appender>
	<!-- Core logger -->
	<logger name="org.openinfinity.core.aspect.AuditTrailAspect">
		<level value="error" />
		<appender-ref ref="audittrail" />
	</logger>
	<logger name="org.openinfinity.core.aspect.ArgumentBuilder">
		<level value="error" />
		<appender-ref ref="exception" />
	</logger>
	<logger name="org.openinfinity.core.aspect.LogAspect">
		<level value="error" />
		<appender-ref ref="log" />
	</logger>
	<logger name="org.openinfinity.cloud">
		<level value="debug" />
		<appender-ref ref="log" />
	</logger>
	<!-- 3rdparty Loggers -->
	<logger name="org.springframework.beans">
		<level value="warn" />
		<appender-ref ref="console" />
	</logger>
	<logger name="org.springframework.jdbc">
		<level value="warn" />
		<appender-ref ref="console" />
	</logger>
	<logger name="org.springframework.transaction">
		<level value="error" />
		<appender-ref ref="console" />
	</logger>
	<logger name="org.springframework.orm">
		<level value="error" />
		<appender-ref ref="console" />
	</logger>
	<logger name="org.springframework.web">
		<level value="error" />
		<appender-ref ref="console" />
	</logger>
	<logger name="org.springframework.webflow">
		<level value="error" />
		<appender-ref ref="console" />
	</logger>
	<logger name="com.mchange.v2.c3p0.impl.C3P0PooledConnectionPool">
        <level value="error" />
        <appender-ref ref="console" />
    </logger>
    <logger name="com.mchange.v2.c3p0.impl">
        <level value="error" />
        <appender-ref ref="console" />
    </logger>
    <logger name="com.mchange.v2.c3p0">
        <level value="error" />
        <appender-ref ref="console" />
    </logger>
    <logger name="com.mchange.v2">
        <level value="error" />
        <appender-ref ref="console" />
    </logger>
    <logger name="com.mchange">
        <level value="error" />
        <appender-ref ref="console" />
    </logger>
	
	<!-- Root Logger -->
	<root>
		<priority value="debug" />
		<appender-ref ref="console" />
	</root>
</log4j:configuration>