tspan { 
	line-height: 150%;
}
.ui-datepicker.ui-widget {
	z-index: 1001 !important;
}
.error {
	z-index: 1005; 
	background: transparent;
	position: absolute;
	top: 200px;
	display: none;
	font-size: 1.5em;
	text-align: center;
	width: 100%;
}
.healthChart {
	width: 640px;
	min-height: 320px;
}
.healthAccordion {
	width: 640px;
	padding-top: 4px;
}
.healthAccordion div {
	padding: 0.5em 1em !important
}
.healthAccordion div ul {
	margin-left: 1em !important;
}
.vertical-aligned {
	display:table-cell;
	vertical-align: top;
	padding-right: 4px;
}
#healthMerticSelectionDiv,#healthPeriodSetupDiv,#healthPeriodCustomDiv,#healthSourceTypeDiv {
	padding-top: 4px;
}
.notificationsTab {
	min-height: 300px;
}
#notificationsArea {
	width: 640px;
	min-height: 320px;
	max-height: 500px;
	overflow: auto;
}
.warningText {
	color: yellow;
}
.failureText {
	color: red;
}
.okayText {
	color:green;
}
.noticeContainer {
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
	width: 160px;
}

/* off-left technique */
.ui-tabs .ui-tabs-hide {
    position: absolute;
    left: -10000px;
    display: block !important;
}

/* jquery UI Notice */
.ui-notice-inner { padding: 0.7em; }
.ui-notice-icon { float: left; margin-right: 0.3em; }