export TOAS_HOST_GROUP='<%=host_group%>'
export TOAS_COMMUNICATION_IFACE='<%=communication_iface%>'
export TOAS_HEALTH_MONITORING_ROOT=<%=toas_monitoring_root%>
export TOAS_COLLECTD_ROOT='<%=toas_collectd_root%>'

export JAVA_HOME='<%=java_home%>'

