.dlg-edit-template-item-container{height:300px;width:560px;margin-bottom:15px;padding:10px;border-width:0px;font-family:Verdana,Arial,sans-serif;font-size:13px;font-style:normal;font-weight:bold;}
.dlg-edit-template-item{height:300px;float:left;border-style:solid;border-width:1px;border-color:#C4C4C4;}
.dlg-edit-template-list-panel-container{width:200px;}
.dlg-edit-template-list-panel-container-columns{margin-left:10px}
.dlg-edit-template-list-panel-container-columns div {font-size:12px}
.dlg-edit-template-list-panel-container-title{margin: 10px 0px 8px 10px;font-size:12px;font-weight:bold}
.dlg-edit-template-arrows-img{width:150px; border-width:0px}
#dlg-edit-template-id-value{font-weight:normal;}
.dlg-edit-template-template-label-container{margin:0 0 20px 0;}
.list-panel-title{margin:5px 5px 15px 10px;font-weight:bold;}
.list-panel-columns{margin:5px 5px 0px 10px;}
.list-container ul{list-style-type:none;margin:0;padding:0;margin-bottom:10px;}
.list-container li{margin:0px 0px 3px 10px;padding:2px;width:160px;}
.list-item-column{float:left;width:125px;}
.dlg-edit-template-organization-id{float:left;width:40px;}
.dlg-edit-template-organization-name{text-align:right;}
#edit-template-fields textarea, input{padding:1px;}
#dlg-item-table th{border:1px solid #C4C4C4;padding:5px text-align:center}
#dlg-item-table td{border:1px solid #C4C4C4;padding:5px;}
