.dlg-edit-template-item{
    border-style:solid;
    border-width:1px;
    border-color:#C4C4C4;
    border-radius:5px;
    margin-bottom: 15px;
    padding:10px;
    font-family: Verdana, Arial, sans-serif;
    font-size: 13px;
    font-style: normal;
    width: 560px;}
.dlg-edit-template-list-panel-container-columns{margin-left:10px}
.dlg-edit-template-list-panel-container-columns div {font-size: 12px}
.dlg-edit-template-list-panel-container-title{margin: 0px 0px 8px 10px; font-size: 12px; font-weight:bold}
.dlg-edit-template-template-label{margin: 10px 0px 0px 0px;}
.dlg-edit-template-item-selection-container {top:10px; height: 300px;}
.dlg-edit-template-item-title {font-weight: bold; margin-bottom:10px;}
.selected-list-panel-container{width: 200px; float:left; margin:10px;}
.available-list-panel-container{width: 200px; float:right; margin:10px;}
.list-panel-title {margin:5px 5px 15px 10px; font-weight:bold;}
.list-panel-columns {margin:5px 5px 0px 10px;}
.list-container {overflow-y:auto; height: 200px;}
.list-container ul {list-style-type: none; margin: 0; padding: 0; margin-bottom: 10px;}
.list-container li {margin: 0px 0px 3px 10px; padding: 2px; width: 160px;}
.list-item-column {float:left; width:125px;}
.dlg-edit-template-organization-id{float:left; width:40px;}
.dlg-edit-template-organization-name{text-align:right;}
#dlg-edit-template-description{width:97%}
#edit-template-fields input{padding:1px;}