/* Main view */

/* All dialogs */
.dlg-tab-items-container{width:560px;height:300px;margin-bottom:15px;padding:10px;border-width:0px;font-family:Verdana,Arial,sans-serif;font-size:13px;font-style:normal;font-weight:bold;}
.dlg-tab-item{height:300px;float:left;border-style:solid;border-width:1px;border-color:#C4C4C4;}
.dlg-arrows-img{width:150px; border-width:0px}
.dlg-list-panel-container{width:200px;}
.dlg-list-panel-container-title{margin: 10px 0px 8px 10px;font-size:12px;font-weight:bold}
.dlg-list-panel-container-columns{margin-left:10px}
.dlg-list-panel-container-columns div {font-size:12px}
.dlg-item-list-container ul{height:250px;width:200px;overflow-y:auto;float:left;list-style-type:none;margin:0;padding:0;margin-bottom:10px;}
.dlg-item-list-container li{margin:0px 0px 3px 10px;padding:3px;width:160px;}
input[type="text"].dlg-error-input{border-color:red;border-radius:2px;margin-left:-1px;}

/* Template edit/create dialog */
.dlg-edit-template-list-panel-container{width:200px;}
#dlg-edit-template-id-value{font-weight:normal;}
.dlg-edit-template-template-label-container{margin:0 0 20px 0;}
.list-panel-title{margin:5px 5px 15px 10px;font-weight:bold;}
.list-panel-columns{margin:5px 5px 0px 10px;}
/*.list-container ul{list-style-type:none;margin:0;padding:0;margin-bottom:10px;}
.list-container li{margin:0px 0px 3px 10px;padding:2px;width:160px;}*/
.list-item-column{float:left;width:125px;}
.dlg-edit-template-organization-id{float:left;width:40px;}
.dlg-edit-template-organization-name{text-align:right;}
#edit-template-fields textarea, input{padding:1px;}


/* Element edit/create dialog */
#dlg-element-general-tab{height:380px;}
.dlg-element-container{margin:0 0 7px 0;}
.dlg-element-value-label{width: 130px;margin-top:5px;float:left;}
#dlg-element-value-id{padding-top:5px;}
.dlg-element-dependee-name{float:left;width:125px;}
#dlg-dependency-selection-container{height:300px;}
#dlg-keys li {width:155px;margin:0 0 0 10px;padding:5px 0px 5px 5px;border-radius:5px;}
#dlg-list-keys-container{width:200px}
#dlg-list-keys-container li{width:152px}
.dlg-element-parameter-key-name{width:110px;float:left}
.dlg-element-list-item-button{width:18px;margin-left:20px;display:inline-block;border-style:solid;border-width:1px;border-color:#c4c4c4;text-align:center;border-radius:15px;background-color:#EEEEEE;font-weight:bold;}
.dlg-key-value-space-filler{width:20px;border-width:0px}
#dlg-element-value-description{width:168px}
#dlg-list-values-container{width:200px;margin-left:150px;}
#dlg-list-values-container li{width:175px;padding: 5px 0 5px 5px}
#dlg-list-values-container .list-item-column{width:135px}
.dlg-element-parameter-value-type{float:left;width:110px;}
.dlg-element-parameter-value-value{width:110px;padding-left:15px;display:inline-block;float:left}
#dlg-keys-values-container li.dlg-element-key-value-list-item{border-width:0;background:white};
input[type="text"].dlg-key-name, input[type="text"].dlg-value-type, input[type="text"].dlg-value-value{width:100%; padding:2px}
#dlg-element-key-name{padding-left:10px;font-weight:normal;}
#dlg-element-replicated-radio{padding-top:6px;}


/* Helper dialog for showing item information */
#dlg-item-table th{border:1px solid #C4C4C4;padding:5px;text-align:center}
#dlg-item-table td{border:1px solid #C4C4C4;padding:5px;}





