/* Main view */

/* All dialogs */
.dlg-tab-items-container{width:560px;height:300px;margin-bottom:15px;padding:10px;border-width:0px;font-family:Verdana,Arial,sans-serif;font-size:13px;font-style:normal;font-weight:bold;}
.dlg-tab-item{height:300px;float:left;border-style:solid;border-width:1px;border-color:#C4C4C4;}
.dlg-arrows-img{width:150px; border-width:0px}
.dlg-list-panel-container{width:200px;}
.dlg-list-panel-container-title{margin: 10px 0px 8px 10px;font-size:12px;font-weight:bold}
.dlg-list-panel-container-columns{margin-left:10px}
.dlg-list-panel-container-columns div {font-size:12px}

/* Template edit/create dialog */
.dlg-edit-template-list-panel-container{width:200px;}
#dlg-edit-template-id-value{font-weight:normal;}
.dlg-edit-template-template-label-container{margin:0 0 20px 0;}
.list-panel-title{margin:5px 5px 15px 10px;font-weight:bold;}
.list-panel-columns{margin:5px 5px 0px 10px;}
.list-container ul{list-style-type:none;margin:0;padding:0;margin-bottom:10px;}
.list-container li{margin:0px 0px 3px 10px;padding:2px;width:160px;}
.list-item-column{float:left;width:125px;}
.dlg-edit-template-organization-id{float:left;width:40px;}
.dlg-edit-template-organization-name{text-align:right;}
#edit-template-fields textarea, input{padding:1px;}

/* Element edit/create dialog */
.dlg-element-container{margin:0 0 7px 0;}
.dlg-element-value-label{width: 130px;margin-top:5px;float:left;}
#dlg-element-value-id{padding-top:5px;}
.dlg-element-dependee-name{float:left;width:125px;}
#dlg-dependency-selection-container{height:300px;}
.dlg-item-list-container ul{list-style-type:none;margin:0;padding:0;margin-bottom:10px;}
.dlg-item-list-container li{margin:0px 0px 3px 10px;padding:2px;width:160px;}
#dlg-element-general-tab{height:380px;}
.dlg-element-parameter-value-type{float:left;width:125px;}

/* Helper dialog for showing item information */
#dlg-item-table th{border:1px solid #C4C4C4;padding:5px;text-align:center}
#dlg-item-table td{border:1px solid #C4C4C4;padding:5px;}





